/*laptop layout*/
@media only screen and (min-width : 768px) and (max-width : 960px){

}

/*tablet layout*/
@media only screen and (min-device-width : 550px) and (max-device-width : 767px){

}

/*wide mobile layout*/
@media only screen and (min-device-width : 480px) and (max-device-width : 549px){

}

/*mobile layout*/
@media only screen and (min-device-width : 320px) and (max-device-width: 479px){

}