body{padding:0;margin:0;}
h1, h2, h3, h3, h4, h5, h6{padding:0;margin:0;}
aside, section, main, article, nav, main{display:block;}
.clear-fix{clear:both;}


.text-center{
	text-align:center;
}
.section-padding{
	padding:70px 0;
}
p{font-family: 'Lato', sans-serif;}
h2{font-family: 'Yeseva One', cursive;}
/*Header section*/
.header-section{
	position:relative;
}
.header-section.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:focus, .navbar-default .navbar-nav > .active > a:hover{background:none;color:white;}
.header-bg{
	background:url('../img/header-bg.jpg')repeat scroll 0 0;
}
.parallax{
	position:absolute;
	width:100%;
	height:100%;
	left:0;
	top:0;
	background-size:cover;
}
.header-nav{
	position:relative;
	z-index:1;
}
.header-nav #navbar{
	margin-right:70px;
}
.header-nav .navbar-nav li{
	padding:28px 7px 0;
}
.header-nav .navbar-nav li.active:before{
	position:absolute;
	height:3px;
	background-color:#C9C6BB;
	width:100%;
	content:"";
	top:0px;
	left:0px;
}
.header-nav .navbar-nav li a{
	color:white;
	font-weight:bold;
	text-transform:uppercase;
}
.header-nav .navbar-nav li a:hover{
	background:none;
	color:white;
}
.header-social-icon{
	position:absolute;
	right:0px;
	top:42px;
}
.header-social-icon a i{
	color:#DAB33E;
	margin:0 5px;
	font-size:20px;
}
.header-content{
	text-align:center;
	margin-top:80px;
	position:relative;
	z-index:1;
	margin-bottom:100px;
}
.header-title{
	background: url("../img/header-title-border.png")no-repeat center bottom;
	padding-bottom: 70px;
	margin-bottom: 30px;
}
.header-content .header-title h1{
	color:white;
	font-size:82px;
	font-family: 'Yeseva One', cursive;
	line-height:100px;
}
.header-content a{
	text-transform:uppercase;
	color:white;
	padding:8px 30px;
	z-index:1;
	margin:0 5px;
	position:relative;
	display:inline-block;
	font-size:13px;
	font-weight:bold;
}
.header-content a:hover{
	text-decoration:none;
}
.header-content a:after{
	position:absolute;
	top:0px;
	left:0px;
	z-index:-1;
	opacity:0.8;
	width:100%;
	height:100%;
	content:"";
}
.table-book-color:after{
	background:#13100F;
	border:1px solid #13100F;
}
.food-menu-color:after{
	background:#CCBE85;
	border:1px solid #CCBE85;
}
/*End Header section*/

/*About section*/
.about-section{
	background-color:white;
	background:url("../img/author-bg.png")no-repeat;
	background-size:cover;
}
.author-title{
	margin-top:40px;
	color:#cc9900;
	font-size:36px;
	background:url("../img/author-title.png")no-repeat scroll center bottom;
	padding-bottom: 40px;
	margin-bottom: 30px;
}
.about-text p{
	color:#4c4c4c;
	font-size:16px;
}
.author-photo img{
	width:150px;
	margin-top:50px;
}
/*End about section*/

/*ingredients section*/
.ingredients-section{
	background:url('../img/ingredients-bg.jpg')repeat scroll 0 0;
}
.ingredients-title{
	color:#fff;
	font-size:36px;
	background:url("../img/ingredients-title.png")no-repeat scroll center bottom;
	padding-bottom: 40px;
	margin-bottom: 30px;
}
.ingredients-content p{
	color:#fff;
	font-size:16px;
}
.ingredients-content{
	padding:60px;
	position:relative;
	z-index:1;
}
.ingredients-content:after{
	position:absolute;
	top:0px;
	left:0px;
	z-index:-1;
	opacity:0.7;
	width:100%;
	height:100%;
	content:"";
	background:#0B0908;
}

/*End ingredients section*/

/*Dish menu*/
.dish-menu-section{
	background:url("../img/dish-menu-bd.png");
	background-size:cover;
	padding:40px 0 40px 0;
}
.dish-menu-single{
	margin-bottom:40px;
}
.dish-menu-title{
	background:url("../img/dish-menu-title.png")no-repeat scroll center bottom;
	padding-bottom:30px;
	margin-bottom:20px;
	color:#cc9900;
	font-size:36px;
	text-align:center;
	margin-top:50px;
}
.special-dish{
	border:1px solid #D4B865;
	position:relative;
	padding:10px;
}
.special-dish:before{
	background-color: #d4b865;
	color: white;
	content: "Special";
	font-size: 12px;
	padding: 2px 11px;
	position: absolute;
	right: -1px;
	top: -22px;
}
.dish-item{
	margin-bottom:30px;
}
.dish-item h3{
	color:#cc9900;
	font-size:21px;
	border-bottom:1px solid #cc9900;
	padding-bottom:7px;
}
.dish-item span{
	float:right;
}
/*End Dish menu*/

/*Testimonial section*/
.testimonial-section{
	position:relative;
}
.testimonial-section-bg{
	background:url("../img/testimonial-section-bg.jpg");
}
.testimonial-tile{
	color:#fff;
	font-size:36px;
	background:url("../img/ingredients-title.png")no-repeat scroll center bottom;
	padding-bottom: 40px;
	margin-bottom: 30px;
}
.testimonial-section-main{
	padding:50px;
	position:relative;
	z-index:1;
}
.testimonial-section-main:after{
	position:absolute;
	top:0px;
	left:0px;
	z-index:-1;
	opacity:0.7;
	width:100%;
	height:100%;
	content:"";
	background:#0B0908;
}
.testimonial-content p{
	font-family: 'Gentium Book Basic', serif;
	font-size:16px;
	color:white;
	line-height:33px;
}
.testimonial-content .testimonial-author{
	font-size:14px;
	margin-top:30px;
}
.testimonial-content-main{
	position:relative;
}
.testimonial-content-main i{
	font-size:22px;
	position:absolute;
	top:10px;
	left:-20px;
	color:#929492:
}
/*end testimonial section*/

/*reservations section*/
.reservations-section{
	background:url("../img/dish-menu-bd.png");
	background-size:cover;
}
.contact-tile{
	background:url("../img/dish-menu-title.png")no-repeat scroll center bottom;
	padding-bottom:30px;
	margin-bottom:30px;
	color:#cc9900;
	font-size:36px;
	text-align:center;
}
.contact-form-content{
	font-size:16px;
	color:#4c4c4c;
}
.reservations-photo img{width:100%;}
.contact-form{
	margin-top:30px;
}
.contact-single{
	margin-bottom:20px;
}
.contact-single label{
	color:#DD9900;
}
.contact-single input{
	border:1px solid #E8E8E8;
	padding:8px 10px;
	width:100%;
}
.contact-single select{
	border:1px solid #E8E8E8;
	padding:8px 10px;
	width:100%;
}
.contact-single button{
	border:0px;
	background-color:#C8A233;
	color:white;
	width:100%;
	padding:10px;
}
/*end reservations section*/

/*Footer section*/
.footer-section{
	background-color:#191919;
	color:white;
}
.footer-widget-title{
	font-size:21px;
	background:url("../img/footer-widget-title.png")no-repeat scroll center bottom;
	padding-bottom:30px;
	margin-bottom:20px;
}
.footer-social-icon a{
	color:white;
}
.footer-social-icon a i{
	font-size:18px;
	margin:0 3px;
}
.footer-social-icon a:hover{
	color:white;
}
/*End footer section*/